<h2>Por Capital</h2>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencia($event)"
      placeholder="Buscar capital..."
    ></app-pais-input>
  </div>
</div>
<hr />
<app-not-found-message
  [termino]="this.termino"
  [errorFlag]="this.errorFlag"
></app-not-found-message>
<div *ngIf="countries.length > 0" [class]="getClasesCSS()">
  <div class="col" >
    <app-pais-tabla [countries]="countries"></app-pais-tabla>
  </div>
</div>
